* {
	font-family: "Arial";
}

table{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 1356px;
    height: 633px;
    padding: 0px;
    border: 1px solid black;
    table-layout: fixed;
    text-align: center;
}

td{
    width: 452px;
    min-height: 50%;
    border: 1px solid black;
    table-layout: fixed;
}

ul {
	font-size: 13px;
	list-style-type:none;
	text-align: left;
	margin: 0;
    padding: 0;
}



li {
	border-bottom: 1px solid #ccc;
}


li a{
	text-decoration: none;
	color: #fff;
	display: block;
	width: 118px;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	-webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
	-moz-transition: font-size 0.3s ease, background-color 0.3s ease;
	-o-transition: font-size 0.3s ease, background-color 0.3s ease;
	-ms-transition: font-size 0.3s ease, background-color 0.3s ease;
	transition: font-size 0.3s ease, background-color 0.3s ease;
	opacity:0.6;
}

body {
    margin: 0px;
    padding: 0px;
}

tr {
	height: 316.5px;
}

#championPortrait {
	position: absolute;
	top:5;
	left: 462;
	width: 120px;
	height: 120px;
}

#lanePortrait{
	position: absolute;
	top:5;
	left: 793px;
	width: 120px;
	height: 120px;
}

.selected {
	font-size: 20px;
}


#champSelLeft {
	position: relative;
	width: 80%;
	height: 100%;
}

#champSelRight {
    position: relative;
    top: -285;
    left: 335.6px;
    width: 25.8%;
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.container {	
	width: 452px;
	height: 316.3px;
}

.container-h4 {
	position: fixed;
	margin-left: 25px;
	margin-top: 10px;
}

#championsCircle {
	position: relative;
    top: 158.15px;
    left: 180.8px;
    transform: translateX(-50%) translateY(-50%);
    width: 150px;
    height: 150px;
    border-radius: 75px;
	background-color:#007bff;
	text-align: center;
	vertical-align: middle;
	line-height: 150px;
	cursor: pointer;
	text-decoration:none;
	color:#ffffff;
	background-image: url('images/leaguelogo.png');
	background-size: 173px;
	background-position-x: -10px;
	background-position-y: -11px;
}


#championsCircle:hover {
	background-color:#ff5252;
}

#supportCircle {
	position: relative;
    top: -183px;
    left: 143px;
    width: 75px;
    height: 75px;
    border-radius: 37.5px;
	background: white;
	text-align: center;
	vertical-align: middle;
	line-height: 75px;
	cursor: pointer;
	border:1px solid black;
	background-color:white;
	color:#ffffff;
	text-decoration:none;
	background-image:url('images/support.png');
	background-position-x: 6px;
	background-position-y: 7px;
    background-repeat: no-repeat;
	-webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#adcCircle {
	position: relative;
    top: -183px;
    left: 143px;
    width: 75px;
    height: 75px;
	border:1px solid black;
    border-radius: 37.5px;
	background-color:white;
	text-align: center;
	vertical-align: middle;
	line-height: 75px;
	color:#ffffff;
	cursor: pointer;
	background-image:url('images/marksman.png');
    background-repeat: no-repeat;
    background-position-x:4px;
	-webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#jungleCircle {
	position: relative;
	top: -183px;
    left: 143px;
    width: 75px;
    height: 75px;
    border-radius: 37.5px;
	background: white;
	text-align: center;
	vertical-align: middle;
	line-height: 75px;
	cursor: pointer;
	color:#ffffff;
	border:1px solid black;
	background-color:white;
	text-decoration:none;
	background-image:url('images/fighter.png');
    background-repeat: no-repeat;
	background-position-x: 3px;
    background-position-y: 2px;
	-webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#midCircle {
	position: relative;
    top: -183px;
    left: 143px;
	width: 75px;
	height: 75px;
	border-radius: 37.5px;
	border:1px solid black;
	background-color:white;
	text-align: center;
	vertical-align: middle;
	line-height: 75px;
	cursor: pointer;
	color:#ffffff;
	text-decoration:none;
	background-image:url('images/mage.png');
	background-position-x: 0px;
	background-position-y: -3px;
	background-size: 74px;
	-webkit-transition: all 0.4s ease;
	  -moz-transition: all 0.4s ease;
	  -o-transition: all 0.4s ease;
	  -ms-transition: all 0.4s ease;
	  transition: all 0.4s ease;
}

#topCircle {
	position: relative;
    top: -183px;
    left: 143px;
    width: 75px;
    height: 75px;
    border-radius: 37.5px;
	background: #007bff;
	text-align: center;
	vertical-align: middle;
	line-height: 75px;
	cursor: pointer;
	background-color:white;
	color:#ffffff;
	border:1px solid black;
	text-decoration:none;
	background-image:url('images/tank.png');
	background-position-y: 3px;
    background-repeat:no-repeat;
	background-position-x: 5px;
	-webkit-transition: all 0.4s ease;
	  -moz-transition: all 0.4s ease;
	  -o-transition: all 0.4s ease;
	  -ms-transition: all 0.4s ease;
	  transition: all 0.4s ease;
}

#topCircle:hover {
	opacity: 0.8;
}

#midCircle:hover {
	opacity: 0.8;
}

#jungleCircle:hover {
	opacity: 0.8;
}

#adcCircle:hover {
	opacity: 0.8;
}

#supportCircle:hover {
	opacity: 0.8;
}

.highlight {
	opacity:1;
	text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

.not-highlight {
	opacity:0.6;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}


.selected, .selected:hover {
	font-size: 16px;
	text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
	opacity:1;
}

li a:hover {
	font-size: 16px;
	opacity: 0.8;
}

.hidden {
	visibility: hidden;
}

#starplot {
	width: 180px;
	height: 180px;
	position: absolute;
	top: 88px;
	left: 530px;
}

#starplotCompare {
	width: 180px;
	height: 180px;
	position: absolute;
	top: 88px;
	left: 915px;
}

.radar-chart-serie0, .radar-chart-serie1{
	cursor: pointer;
}

.tooltipBackground {
	background-color: white;
	color:black;
}

#barSelector {
	width: 85px;
	height: 85%;
	position: relative;
	top: 40px;
	left: 5px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 1px;
    background-color: rgb(255, 255, 255)
}

.attrBox {
	border: 1px solid black;
	width: 100%;
	color: #fff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 14px;
	-webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
	-moz-transition: font-size 0.3s ease, background-color 0.3s ease;
	-o-transition: font-size 0.3s ease, background-color 0.3s ease;
	-ms-transition: font-size 0.3s ease, background-color 0.3s ease;
	transition: font-size 0.3s ease, background-color 0.3s ease;
	background-color: rgb(50, 50, 50)
}

.attrBox:hover{
	font-size: 17px;
	background-color: rgb(160, 160, 160);
}

.barChartHighlight:hover{
	font-size: 16px;
	background-color: #488AC7;
}

a {
	text-decoration: none;
}

#barChart {
	width: 345px;
	height: 300px;
	position: relative;
	top: -265px;
	left: 100px;
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
}

.barChartHighlight {
	font-size: 16px;
	background-color: #488AC7;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 150px;					
    height: 30px;					
    padding: 2px;				
    font: 15px Arial;		
    background: lightsteelblue;	
    border: 1px solid black;		
    pointer-events: none;
    color: black;			
}


 /* The switch - the box around the slider */
.switch {
  color:black;
  top:100px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked#junCheckBox + .slider {
  background-color: #ffaa00;
}

input:checked#supCheckBox + .slider {
  background-color: #0091d3;
}

input:checked#adcCheckBox + .slider {
  background-color: #000000;
}

input:checked#midCheckBox + .slider {
  background-color: #2c408b;
}

input:checked#topCheckBox + .slider {
  background-color: #8b7426;
}

/*sanity test*/
input:checked + .slider {
  background-color: #2196F3;
}


input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*END SLIDER CUSTOMIZATION*/

#secondPlace {
	width: 110px;
	height: 110px;
	position: absolute;
	top: 415px;
	left: 500px;
}

#firstPlace {
	width: 139px;
	height: 139px;
	position: absolute;
	top: 385px;
	left: 620px;
}

#thirdPlace {
	width: 98px;
	height: 98px;
	position: absolute;
	top: 440px;
	left: 770px;
}

.medal {
	max-width: 100%;
	max-height: 100%;
}

#firstMedal {
	width: 50px;
	height: : 50px;
	position:absolute;
	top: 460px;
	left: 700px;
}

#secondMedal {
	width: 45px;
	height: 45px;
	position:absolute;
	top: 485px;
	left: 567px;
}

#thirdMedal {
	width: 40px;
	height: : 40px;
	position:absolute;
	top: 500px;
	left: 830px;
}

#compareTitle {
	margin: 10px;
	float: left;
	font-weight: bolder;
	font-size: 25px;
	color: red;
}

#wrapper {
	float:left;
}

#chooseLane {
	height: 25px;
	width: 300px;
	position: absolute;
	top: 55px;
	left: 930px;
}

.laneButton {
	display: inline-block;
	height: 100%;
	width: 50px;
	float: left;
}

#secondChamp {
	font-weight: bolder;
	font-size: 20px;
	color: #377eb8;
	float:right;
	margin:5px;
}

#secondChampSel {
	position: absolute;
	top: 45px;
	left: 1258px;
	width: 110px;
	height: 200px;
}

#championsListCmp {
	width: 110px;
	height: 170;
	overflow-y: scroll;
	overflow-x: hidden;
}

.secChampLaneBtn {
	width:100%;
	height:20px;
}

#secondChampLane {
	position: absolute;
	top: 220px;
	left: 1257px;
	width: 110px;
	height: 120px;
}

.spLegend {
	height: 40px;
	width: 160px;
	position: absolute;
	top: 300px;
	font-size: 13px;
}

.legend {
	float:left;
	margin-left: 4px;
}

#redLeg {
	font-weight: bolder;
	color:red;
}

#bluLeg {
	color: #377eb8;
	font-weight: bolder;
}

#scatterplot {
	width: 452px;
	height: 280px;
 	position: absolute;
	top: 347px;
}

div.tooltipSca {	
    position: absolute;			
    text-align: center;			
    width: 150px;					
    height: 42px;					
    padding: 2px;				
    font: 12px Arial;		
    background: lightsteelblue;	
    border: 1px solid black;		
    pointer-events: none;
    color: white;			
}