* {
	font-family: "Arial";
}

table{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 1356px;
    height: 633px;
    padding: 0px;
    border: 1px solid black;
    table-layout: fixed;
    text-align: center;
}

td{
    width: 452px;
    min-height: 50%;
    border: 1px solid black;
    table-layout: fixed;
}


body {
    margin: 0px;
    padding: 0px;
}

tr {
	height: 316.5;
}

#champSelLeft {
	position: absolute;
	width: 80%;
	height: 100%;
}

.container {
	width: 100%;
	height: 100%;
}

#championsCircle {
	position: relative;
    top: 158.15px;
    left: 180.8px;
    transform: translateX(-50%) translateY(-50%);
    width: 150px;
    height: 150px;
    border-radius: 75px;
	background: red;
	text-align: center;
	vertical-align: middle;
	line-height: 150px;
}

#supportCircle {
	position: relative;
    top: 60px;
    left: 75px;
    width: 75px;
    height: 75px;
    border-radius: 37.5px;
	background: blue;
	text-align: center;
	vertical-align: middle;
	line-height: 75px;
}

#adcCircle {
	position: relative;
    top: -218px;
    left: 145px;
    width: 75px;
    height: 75px;
    border-radius: 37.5px;
	background: green;
	text-align: center;
	vertical-align: middle;
	line-height: 75px;
}

#jungleCircle {
	position: relative;
	    top: -218px;
	    left: 250px;
    width: 75px;
    height: 75px;
    border-radius: 37.5px;
	background: yellow;
	text-align: center;
	vertical-align: middle;
	line-height: 75px;
}

#midCircle {
	position: relative;
    top: -167px;
    left: 215px;
	width: 75px;
	height: 75px;
	border-radius: 37.5px;
	background: purple;
	text-align: center;
	vertical-align: middle;
	line-height: 75px;
}

#topCircle {
	position: relative;
    top: -368px;
    left: 37px;
    width: 75px;
    height: 75px;
    border-radius: 37.5px;
	background: orange;
	text-align: center;
	vertical-align: middle;
	line-height: 75px;
}




